{% extends "base.html" %}

{% block title %}Blockchain Store{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Blockchain Store</h1>
    <p class="lead">Secure storage and management of blockchain data</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Blockchain Status</h5>
                        <p class="card-text">Current status of the blockchain network.</p>
                        <div class="alert alert-info">
                            Blockchain network is operational
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Transaction Statistics</h5>
                        <p class="card-text">Overview of blockchain transactions.</p>
                        <ul class="list-group">
                            <li class="list-group-item">Total Blocks: 1,234</li>
                            <li class="list-group-item">Pending Transactions: 5</li>
                            <li class="list-group-item">Network Hash Rate: 45 TH/s</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 